<div class="glass-card flex items-center p-6 rounded-lg backdrop-blur-3xl {{className}}">
    <span *ngIf="first"
        class="icon rounded shadow-btnS h-10 w-10 flex-center mr-4 text-white bg-yellow-500">I</span>
    <span *ngIf="second" class="icon rounded shadow-btnS h-10 w-10 flex-center mr-4 bg-gray-300">I</span>
    <div class="name mr-auto">
        <p class="text-base">Boba Fett Well</p>
        <span class="block text-xs">ESP Stopped 9/14/21, +1 more</span>
        <span *ngIf="fourth" class="block text-xs">ESP Stopped 9/14/21, +1 more</span>
    </div>
    <span *ngIf="third" class="text-xs">Unresolved</span>
    <div *ngIf="fourth" class="progress-text ml-auto w-32 text-center">
        <p class="progress flex-center mb-2">
            <span class="block w-[22px] h-1 bg-blue-500 rounded-tl-[2px] rounded-bl-[2px] mr-[2px]"></span>
            <span class="block w-[22px] h-[6px] bg-blue-600 mr-[2px]"></span>
            <span class="block w-[22px] h-1 bg-gray-300 mr-[2px]"></span>
            <span class="block w-[22px] h-1 bg-gray-300 mr-[2px]"></span>
            <span class="block w-[22px] h-1 bg-gray-300 rounded-tr-[2px] rounded-br-[2px]"></span>
        </p>
        <p class="text-xs">Crew Confirmed</p>
    </div>
</div>



<!-- <div class="glass-card flex items-center p-4 shadow-glassM bg-glass-95 rounded-lg backdrop-blur-3xl mt-9">
    <span class="icon rounded shadow-btnS h-10 w-10 flex-center mr-4 bg-white">I</span>
    <span class="text-lg">Startup & Power</span>
</div> -->


<!-- <div class="glass-card flex items-center p-1 shadow-glassM bg-glass-75 rounded-full backdrop-blur-3xl mt-9 w-28">
    <span class="icon rounded-full h-8 w-8 mr-2 bg-blue-500"></span>
    <div class="w-16 px-2 py-1 flex bg-white rounded-full">
        <span class="text-sm mr-1">2</span>
        <div class="w-9 relative h-6">
            <span class="absolute block h-6 w-6 rounded-full bg-blue-500 left-3 top-0 ring-white ring-1"></span>
            <span class="absolute block h-6 w-6 rounded-full bg-blue-500 ring-white ring-1"></span>
        </div>
    </div>
</div> -->


<!-- <div class="glass-card flex items-center justify-between p-1 bg-glass-75 rounded-[90px] backdrop-blur-3xl mt-9 w-[302px]">
    <span class="text-sm min-w-[90px] text-center">Closed</span>
    <span class="text-sm min-w-[105px] text-center active">Scheduled</span>
    <span class="text-sm min-w-[90px] text-center">Planning</span>
</div>


<div class="glass-card flex items-center justify-between p-1 bg-glass-75 rounded-[90px] backdrop-blur-3xl mt-9 w-[200px]">
    <span class="text-sm min-w-[90px] text-center active">Closed</span>
    <span class="text-sm min-w-[100px] text-center">Scheduled</span>
    <span class="text-sm min-w-[90px] text-center active">Planning</span>
</div> -->