<div class="flex items-center justify-between mb-8">
    <app-search-bar class=""></app-search-bar>
    <app-option-picker class=""></app-option-picker>
    <app-team-badge class=""></app-team-badge>
</div>
<div class="card-list">
    <p class=" text-lg text-white font-bold text-shadow mb-4">Waiting for HEK Oil’s Input</p>
    <app-glass-big-card class="block mb-6"></app-glass-big-card>
    <app-glass-big-card class="block mb-6"></app-glass-big-card>
</div>
<div class="card-list">
    <p class=" text-lg text-white font-bold text-shadow mb-4">Today</p>
    <app-glass-big-card class="block mb-6" *ngFor="let item of cardArray"></app-glass-big-card>
</div>
<div class="card-list">
    <p class=" text-lg text-white font-bold text-shadow mb-4">Tomorrow</p>
    <app-glass-big-card class="block mb-6" *ngFor="let item of cardArray"></app-glass-big-card>
    <app-glass-big-card class="block mb-6"></app-glass-big-card>
    <app-glass-big-card class="block mb-6"></app-glass-big-card>
    <app-glass-big-card class="block mb-6"></app-glass-big-card>
    <app-glass-big-card class="block mb-6"></app-glass-big-card>
    <app-glass-big-card class="block mb-6" ></app-glass-big-card>
</div>