<div class="glass-card flex items-center justify-between p-1 bg-glass-75 rounded-[90px] backdrop-blur-3xl cursor-pointer {{className}}">
    <span class="text-sm min-w-[90px] text-center active">Closed</span>
    <span class="text-sm min-w-[105px] text-center">Scheduled</span>
    <span class="text-sm min-w-[90px] text-center">Planning</span>
</div>


<!-- <div class="glass-card flex items-center justify-between p-1 bg-glass-75 rounded-[90px] backdrop-blur-3xl mt-9 w-[200px]">
    <span class="text-sm min-w-[90px] text-center active">Closed</span>
    <span class="text-sm min-w-[100px] text-center">Scheduled</span>
    <span class="text-sm min-w-[90px] text-center active">Planning</span>
</div> -->