<div *ngIf="fiveOption" class="glass-card flex items-center justify-between p-1 bg-glass-75 rounded-[90px] backdrop-blur-3xl cursor-pointer h-[42px] w-max {{className}}">
    <span class="pick-item flex-center active" (click)="addingEffect($event)">Operations</span>
    <span class="pick-item flex-center" (click)="addingEffect($event)">Open</span>
    <span class="pick-item flex-center" (click)="addingEffect($event)">Quotes</span>
    <span class="pick-item flex-center" (click)="addingEffect($event)">Closed</span>
    <span class="pick-item flex-center" (click)="addingEffect($event)">Closed</span>
    <span class="indicate"></span>
</div>
<div *ngIf="fourOption" class="glass-card flex items-center justify-between p-1 bg-glass-75 rounded-[90px] backdrop-blur-3xl cursor-pointer h-[42px] w-max {{className}}">
    <span class="pick-item flex-center active" (click)="addingEffect($event)">Operations</span>
    <span class="pick-item flex-center" (click)="addingEffect($event)">Open</span>
    <span class="pick-item flex-center" (click)="addingEffect($event)">Quotes</span>
    <span class="pick-item flex-center" (click)="addingEffect($event)">Closed</span>
    <span class="indicate"></span>
</div>
<div *ngIf="threeOption" class="glass-card flex items-center justify-between p-1 bg-glass-75 rounded-[90px] backdrop-blur-3xl cursor-pointer h-[42px] w-max {{className}}">
    <span class="pick-item flex-center active" (click)="addingEffect($event)">Operations</span>
    <span class="pick-item flex-center" (click)="addingEffect($event)">Open</span>
    <span class="pick-item flex-center" (click)="addingEffect($event)">Quotes</span>
    <span class="indicate"></span>
</div>
<div *ngIf="twoOption" class="glass-card flex items-center justify-between p-1 bg-glass-75 rounded-[90px] backdrop-blur-3xl cursor-pointer h-[42px] w-max {{className}}">
    <span class="pick-item flex-center active" (click)="addingEffect($event)">Operations</span>
    <span class="pick-item flex-center" (click)="addingEffect($event)">Open</span>
    <span class="indicate"></span>
</div>