<div class="glass-card flex items-center p-6 shadow-glassM bg-glass-95 rounded-lg backdrop-blur-3xl">
    <app-svg-icon class="icon rounded shadow-btnS h-10 w-10 flex-center mr-4 text-blue-600" [iconHashTag]="'#search_icon'"></app-svg-icon>
    <div class="name mr-auto">
        <span class="text-xs">09-14-2021 - 7:33 am CST</span>
        <p class="text-base">ESP Stopped (Artificial Lift)</p>
        <span class="text-xs">Reported by: Lift IQ</span>
    </div>
    <span class="text-xs" *ngIf="second">Unresolved</span>
    <div class="progress-text ml-auto w-32 text-center" *ngIf="first">
        <p class="progress flex-center mb-2">
            <span class="block w-[22px] h-1 bg-blue-500 rounded-tl-[2px] rounded-bl-[2px] mr-[2px]"></span>
            <span class="block w-[22px] h-1 bg-blue-500 mr-[2px]"></span>
            <span class="block w-[22px] h-[6px] bg-blue-600 mr-[2px]"></span>
            <span class="block w-[22px] h-1 bg-gray-300 mr-[2px]"></span>
            <span class="block w-[22px] h-1 bg-gray-300 rounded-tr-[2px] rounded-br-[2px]"></span>
        </p>
        <p class="text-xs">Crew Confirmed</p>
    </div>
    <div class="ctas ml-auto" *ngIf="fourth">
        <app-btn class="mb-4 mr-4" [primary]="false" [size]="'small'"></app-btn>
        <app-btn class=" mb-4" [primary]="true" [size]="'small'"></app-btn>
    </div>
    <div class="report ml-auto flex items-center" *ngIf="third">
        <span class="text-sm border-b border-solid mr-4">View Report <br/>& Proposal</span>
        <span class="three-dot rotate-90 text-2xl">...</span>
    </div>
</div>