<div dir="rtl" class="modal text-white shadow-glassM bg-signin-modal absolute top-1/2 -translate-y-1/2 sm:right-40 lg:right-32 min-h-[423px] w-[calc(100%-48px)] sm:max-w-md mx-6 md:mx-0 p-8 backdrop-blur-3xl rounded-2xl border-solid border-[1px]">
  <img src="/assets/img/logo-white.svg" alt="" class="m-auto mb-8 sm:w-60">
  <app-input class="block relative mb-8" [label]="'الرئيس التنفيذي'" [type]="'text'"></app-input>
  <app-input class="block relative mb-8" [label]="'Password'" [type]="'password'"></app-input>
  <app-input class="block relative mb-8" [label]="'Confirm Password'" [type]="'password'"></app-input>
  <div class="form-group flex items-center mb-8">
    <input type="checkbox" name="term" id="term" class=" bg-transparent ltr:mr-1 rtl:ml-1">
    <label for="term" class="text-[11px] ">I agree to <a href="#">Terms</a> and <a href="#">Privacy Policy</a></label>
  </div>

  <!-- <div class="flex items-center">
    <input id="filter-mobile-color-0" name="color[]" value="white" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
    <label for="filter-mobile-color-0" class="ml-3 min-w-0 flex-1 text-gray-500">
      White
    </label>
  </div> -->
  <!-- <app-btn class="block relative w-full text-center mb-4 text-gray-600" [primary]="false" [size]="'medium'"></app-btn> -->
  <button class="text-center block w-full bg-white h-10 text-sm sm:text-xl sm:h-16 rounded-full text-gray-600 mb-4"> Sign In</button>
  <a href="#" class="text-sm block text-center mb-8">Forgot Password</a>
  <p class="text-[10px] text-center">© 2021 Schlumberger Limited. All rights reserved.</p>
</div>