<div dir="ltr" 
  class="modal login-modal glass-border glass-effect">
  <img src="/assets/img/logo-white.svg" alt="" class="m-auto mb-8 sm:w-60">
  <app-input class="block relative mb-8" [label]="'الرئيس التنفيذي'" [type]="'text'"></app-input>
  <app-input class="block relative mb-8" [label]="'Password'" [type]="'password'"></app-input>
  <app-input class="block relative mb-8" [label]="'Confirm Password'" [type]="'password'"></app-input>
  <div class="form-group flex items-center mb-8">
    <app-checkbox [forLabele]="'terms'"></app-checkbox>
    <label for="terms" class="text-[11px] ">I agree to <a href="#">Terms</a> and <a href="#">Privacy Policy</a></label>
  </div>

  <!-- <app-btn class="block relative w-full text-center mb-4 text-gray-600" [primary]="false" [size]="'medium'"></app-btn> -->
  <button class="text-center block w-full bg-white h-10 text-sm sm:text-xl sm:h-16 rounded-full text-gray-600 mb-4"> Sign In</button>
  <a href="#" class="text-sm block text-center mb-8 opacity-80">Forgot Password</a>
  <p class="text-[10px] text-center">© 2021 Schlumberger Limited. All rights reserved.</p>
</div>