<div class="card" [ngClass]="cardClasses">
  <figure class="card-fig">
    <img src="https://d2awz7twruaixb.cloudfront.net/assets/img/home-ipad.webp" alt="" class="card-fig-img">
  </figure>
  <div class="card-content">
    <h2 class="card-title">{{title}}</h2>
    <p class="card-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eos ab ullam neque esse ex illo eligendi vitae libero amet, cupiditate minus incidunt facere, eveniet corrupti quidem harum voluptatum enim.</p>
    <button class="btn card-btn">{{buttonLabel}}</button>
  </div>
</div>