<div class="glass-card flex justify-between items-center text-xs text-gray-400 {{className}} py-2">
  <div class="name mr-auto">
      <p class=" text-gray-text-1000 font-bold">Chat Session</p>
      <span class="block">Adam Smith</span>
      <span class="block">Boba Fett Well | Surface | Artificial Lift</span>
      <span class="block">09-14-2021 - 3:00 pm CST</span>
      <a href="#" class="block text-blue-600">View Conversation</a>
  </div>
  <span class="m-auto {{warning ? 'text-gray-600' : 'text-orange-600'}}">Unresolved - ESP Stopped</span>
</div>
<app-svg-icon class="leading-[1] text-3xl absolute -left-12 top-8 cursor-pointer {{warning ? 'text-gray-600' : 'text-orange-600'}}  " [iconHashTag]="'#liveChat_icon'"></app-svg-icon>



 
