/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@layer components {
    .btn{
        @apply py-2 px-4 text-sm rounded-2xl shadow-md;
    }
    .primary-btn {
      @apply bg-red-400 text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75;
    }
    .secondary-btn{
        @apply border border-solid border-red-400 hover:border-red-500 hover:bg-gray-100;
    }
    .btn-small{
        @apply py-1 px-3 text-xs border border-solid border-red-400 hover:border-red-500 hover:bg-gray-100;
    }
    .btn-large{
        @apply text-lg border border-solid border-red-400 hover:border-red-500 hover:bg-gray-100;
    }
    .btn-xlarge{
        @apply text-2xl border border-solid border-red-400 hover:border-red-500 hover:bg-gray-100;
    }



    .flex-center{
      @apply flex justify-center items-center;
    }
    .slb-btn{
      @apply inline-block px-6 py-2 font-bold text-sm rounded-full transition duration-150 ease-in-out focus:outline-none shadow-btn;
    }
    .slb-btn-blue{
      @apply bg-blue-600 text-white hover:bg-blue-700 shadow-btnHvr;
    }
    .slb-btn-white{
      @apply bg-white text-gray-600 hover:text-blue-600 shadow-btnHvr;
    }
    .slb-blue-outline{
     @apply border border-solid border-blue-600 text-gray-600 hover:text-blue-600;
    }
    .slb-white-outline{
      @apply border border-solid border-white text-white;
     }
     .slb-btn-xsm{
      @apply px-4 py-1.5 text-[10px];
     }
     .slb-btn-sm{
      @apply px-6 py-2 text-xs;
     }
     .slb-btn-md{
      @apply px-8 py-2.5 text-sm;
     }
     .slb-btn-lg{
      @apply px-12 py-3 text-base;
     }
     .slb-btn-xlg{
      @apply px-14 py-4 text-lg;
     }
  }
@import "tailwindcss/utilities";
@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
    .login-modal{
      @apply text-white absolute top-1/2 -translate-y-1/2 sm:right-40 lg:right-32 w-[calc(100%-48px)] sm:max-w-md mx-6 md:mx-0 p-8;
    }
    .glass-effect{
      @apply shadow-glassM bg-signin-modal backdrop-blur-75 rounded-2xl;
    }
    .glass-border{
      &::before{
        content: '';
        @apply w-full h-full absolute top-0 left-0 p-[1px] rounded-2xl bg-modal-border z-[-1];
        -webkit-mask:  linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; 
        mask-composite: exclude; 
      }
    }
  } 
}