<h2 class=" text-3xl font-normal mb-5 mt-4">Open Issues</h2>
<div class="picker mb-5">
  <app-option-picker class=""></app-option-picker>
</div>
<div class="map h-36 border mb-10">

</div>
<div class="title flex justify-between items-center mb-5">
  <h3 class=" text-lg font-bold">Mos Eisley Field</h3>
  <span class=" text-xs text-blue-500 cursor-pointer">View All</span>
</div>
<div class="small-cards mb-14">
  <app-glass-small-card class="block mb-4" [className]="'bg-glass-75'"></app-glass-small-card>
  <app-glass-small-card class="sm:w-[calc(100%-15px)]" [third]="false" [fourth]="true"></app-glass-small-card>
</div>
<div class="ctas flex justify-between mt-7">
  <app-btn class="mb-4 mr-4" [primary]="false" [size]="'medium'"></app-btn>
  <app-btn class=" mb-4" [primary]="true" [size]="'medium'"></app-btn>
</div>