.input{
    &:focus,
    &:valid{
        ~ label  {
            top: -20px;
            font-size: 10px;
        }
        ~ .pass-icon{
            display: block;
        }
    }
    &::-webkit-autofill,
    &::-webkit-contacts-auto-fill-button,
    &::-webkit-credentials-auto-fill-button{
        visibility: hidden;
        opacity: 0;
        // display: none;
        // pointer-events: none;
        // position: absolute;
        // right: 0;
    }
}