<div class="form-group w-full relative h-8">
    <input required type="{{type}}" name="input" id="name" class="input placeholder-white absolute bottom-0 outline-none leading-9 text-white text-sm w-full left-0 border-b-[.5px] border-white border-solid bg-transparent">
    <label for="name" class=" h-6 text-base valid:-top-5 text-white absolute top-0 transition-all duration-700">{{label}}</label>
    <app-svg-icon (click)="showPassword()" class="hidden pass-icon text-white text-2xl absolute right-2 bottom-2 cursor-pointer" [iconHashTag]="passwordIcon"></app-svg-icon>
</div>
<!-- <span class="text-xs text-white" id="passwordHelp">These passwords don’t match. <br> Please try again.</span> -->