<div
  class="text-white shadow-glassM bg-signin-modal absolute top-1/2 -translate-y-1/2 sm:right-40 lg:right-32 min-h-[423px] w-[calc(100%-48px)] sm:max-w-md mx-6 md:mx-0 p-8 backdrop-blur-3xl rounded-2xl border-solid border-[1px]">
  <img src="/assets/img/logo-white.svg" alt="" class="m-auto mb-8 sm:w-60">
  <div class="reset-text text-white mb-10">
    <h2 class=" text-2xl mb-3">Authenticate your account</h2>
    <p class=" text-sm">Please confirm your account by entering the authorization code sent to ***-****-2342</p>
  </div>
  <div class="mb-10">
    <input id="partitioned" type="text" maxlength="5" placeholder="00000"
      class="input placeholder-white outline-none leading-9 text-white text-[40px] w-full border-b-[.5px] border-white border-solid bg-transparent"/>
  </div>
  <div class="form-group flex items-center mb-8">
    <input type="checkbox" name="term" id="term" class=" bg-transparent mr-1">
    <label for="term" class="text-[11px] ">Remember this device for 30 days</label>
  </div>

  <!-- <app-btn class="block relative w-full text-center mb-4 text-gray-600" [primary]="false" [size]="'medium'"></app-btn> -->
  <button class="text-center block w-full bg-white h-10 text-sm sm:text-xl sm:h-16 rounded-full text-gray-600 mb-4">
    Submit</button>
  <a href="#" class="text-sm block text-center">Resend a new code</a>
</div>


