.input {
  padding-left: 14px;
  padding-bottom: 8px;
  letter-spacing: 33px;
  border: 0;
  background-image: linear-gradient(to left, #fff 37%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 55px 1px;
  background-repeat: repeat-x;
  background-position-x: 36px;
  width: 290px;
}